.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    font-weight: 600;
   
}

.languages li::before{
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 0.90rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('icones/check.svg');
    margin-right: .5rem;
}
